<div class="pokemon-list">
  <mat-card>
    <div class="mat-list">
      <mat-form-field appearance="fill" class="search-bar">
        <mat-label>Search Pokemon</mat-label>
        <input
          matInput
          [formControl]="nameCtrl"
          placeholder="Enter Pokemon name"
        />
      </mat-form-field>
      <div class="search-bar">
        <button
          mat-raised-button
          color="primary"
          (click)="fvrtList().length && showFvrtList()"
        >
          {{
            toggleList()
              ? "Show All"
              : "Show Favorite (Count: " + fvrtList().length + ")"
          }}
        </button>
      </div>
    </div>

    <!-- Display error message if no Pokemon found -->
    <ng-container *ngIf="hasError()">
      <div class="error-message">
        <p>{{ errorMessage() }}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="pokemonList().length && !toggleList()">
      <mat-card *ngFor="let pokemon of pokemonList()">
        <div class="mat-list">
          <div>
            <h3>{{ pokemon?.name | titlecase }}</h3>
          </div>
          <div class="mat-list">
            <button
              mat-raised-button
              color="primary"
              (click)="viewDetails(pokemon)"
            >
              View Details
            </button>
            <button
              [appFavorites]="'h3'"
              class="fvrt-btn"
              mat-raised-button
              color="primary"
              (click)="toggleFavorite(pokemon)"
            >
              Mark as Favourite
            </button>
          </div>
        </div>
      </mat-card>

      <!-- Pagination -->
      <mat-paginator
        #paginator
        [length]="totalPokemon()"
        [pageSize]="pageSize()"
        (page)="onPageChange($event)"
        aria-label="Select page of Pokemon"
      >
      </mat-paginator>
    </ng-container>

    <ng-container *ngIf="fvrtList()?.length && toggleList()">
      <mat-card *ngFor="let pokemon of fvrtList()">
        <div class="mat-list">
          <div>
            <h3>{{ pokemon?.name | titlecase }}</h3>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </mat-card>
</div>
