<div class="auth-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
      <mat-error
        *ngIf="
          loginForm.controls['email']?.invalid &&
          loginForm.controls['email']?.touched
        "
      >
        Email is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
      <mat-error
        *ngIf="
          loginForm.controls['password']?.invalid &&
          loginForm.controls['password']?.touched
        "
      >
        Password is required.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>

    <div class="links">
      <a routerLink="/auth/signup">Don't have an account? Sign Up</a>
      <a routerLink="/auth/forget-password">Forgot Password?</a>
    </div>
  </form>
</div>
