<div class="auth-container">
  <h2>Forget Password</h2>
  <form (ngSubmit)="onResetPassword()" #forgetPasswordForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
      <mat-error
        *ngIf="
          forgetPasswordForm.controls['email']?.invalid &&
          forgetPasswordForm.controls['email']?.touched
        "
      >
        A valid email is required.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Send Link</button>

    <div class="links">
      <a routerLink="/auth/login">Remembered your password? Login</a>
      <a routerLink="/auth/signup">Don't have an account? Sign Up</a>
    </div>
  </form>
</div>
