.pokemon-details {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  mat-card {
    max-width: 600px;
    padding: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 5px 0;
    }
  }

  .pokemon-types,
  .pokemon-abilities,
  .pokemon-stats {
    margin-top: 20px;
  }
}
