<div class="pokemon-details" *ngIf="pokemonDetails">
  <mat-card>
    <h2>{{ pokemonDetails.name }}</h2>

    <div class="pokemon-types">
      <p><strong>Types:</strong></p>
      <ul>
        <li *ngFor="let type of pokemonDetails.types">
          {{ type.type.name }}
        </li>
      </ul>
    </div>

    <div class="pokemon-abilities">
      <p><strong>Abilities:</strong></p>
      <ul>
        <li *ngFor="let ability of pokemonDetails.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </div>

    <div class="pokemon-stats">
      <p><strong>Stats:</strong></p>
      <ul>
        <li *ngFor="let stat of pokemonDetails.stats">
          {{ stat.stat.name }}: {{ stat.base_stat }}
        </li>
      </ul>
    </div>
  </mat-card>
</div>
