<div class="auth-container">
  <h2>Reset Password</h2>
  <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
        minlength="6"
      />
      <mat-error
        *ngIf="
          resetPasswordForm.controls['newPassword']?.invalid &&
          resetPasswordForm.controls['newPassword']?.touched
        "
      >
        Password is required and should be at least 6 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        minlength="6"
      />
      <mat-error
        *ngIf="
          resetPasswordForm.controls['confirmPassword']?.invalid &&
          resetPasswordForm.controls['confirmPassword']?.touched
        "
      >
        Confirm Password is required and should match the new password.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Reset Password
    </button>

    <div class="links">
      <a routerLink="/auth/login">Remembered your password? Login</a>
      <a routerLink="/auth/signup">Don't have an account? Sign Up</a>
    </div>
  </form>
</div>
