<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title> Upgrade Your Plan </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      You're currently on a basic plan, which limits access to some features of
      the Pokemon app. To access the full range of features, including viewing
      detailed Pokemon stats, favorite Pokemon functionality, and more, we
      recommend upgrading to our premium plan.
    </p>
    <div>
      As a premium user, you'll unlock:
      <ul>
        <li>Detailed Pokemon stats and abilities</li>
        <li>Ability to mark and filter favorite Pokemon</li>
        <li>Access to premium support and updates</li>
      </ul>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="subscribe()">
      Subscribe Now
    </button>
  </mat-card-actions>
</mat-card>
